*{ 
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	margin: auto;
}
.ejercicio1 div {
	display: block;
	padding-bottom: 30px;
	padding-left: 5px;
	box-sizing: content-box;
}   
.ejercicio1 .primerP, .ejercicio1 .tercerP{
	background-color: yellow;
}
.ejercicio1 .segundoP{
	background-color: #ED2251;
	border: 1px solid black;
}
.ejercicio1 p{
	font-family: 'Montserrat', sans-serif;
}
.ejercicio1 .tercerP{
	text-transform: uppercase;
}
/*****************/
.ejercicio2 div {
	display: block;
	padding-bottom: 50px;
	padding-left: 5px;
	margin: 0 600px 20px 600px;
	box-sizing: content-box;
} 
.ejercicio2 .primerP, .ejercicio2 .tercerP{
	background-color: yellow;
}
.ejercicio2 .segundoP{
	background-color: #ED2251;
}
.ejercicio2 p{
	font-family: 'Montserrat', sans-serif;
}
.ejercicio2 .tercerP{
	text-transform: uppercase;
}
/**************************/
.ejercicio3 div {
	display: inline-block;
	padding: 5px;

	
	box-sizing: content-box;
} 
.ejercicio3 .primerP, .ejercicio3 .tercerP{
	background-color: yellow;
}
.ejercicio3 .segundoP{
	background-color: #ED2251;
}
.ejercicio3 p{
	font-family: 'Montserrat', sans-serif;
}
.ejercicio3 .tercerP{
	text-transform: uppercase;
}
/************************************/
.ejercicio4 div {
	display: inline-block;
	padding: 10px;
	padding-bottom: 50px;
	width: 155px;
	box-sizing: content-box;
} 
.ejercicio4 .primerP, .ejercicio4 .tercerP{
	background-color: yellow;
}
.ejercicio4 .segundoP{
	background-color: #ED2251;
}
.ejercicio4 p{
	font-family: 'Montserrat', sans-serif;
}
.ejercicio4 .tercerP{
	text-transform: uppercase;
}
/************************************/
.ejercicio5 .rec{
	width:100px;
	height:100px;
	border:3px solid blue;
	display: inline-block;
	margin: 5px;
}
.ejercicio5 #cuadrado7{
	display: block;
}
.ejercicio5 #cuadrados{
	border:3px solid pink;
	box-sizing: content-box;
	width: 356px;
	
}